@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900');

/**** Page layout ****************************************/

:root {
    /* Colour Definitions */
    --clr-primary-accent: #FF7E29;
    --clr-light-accent: #FFD2B4;
    --clr-dark-accent: #d36720;
    --clr-bg-accent: hsla(24, 100%, 85%, 0.286);
    --clr-dark-bg-accent: hsla(24, 74%, 15%, 0.351);
    --clr-black: #000;
    --clr-white: #f5f5f5;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Montserrat, Roboto, serif;
    text-align: left;
    background-color: var(--clr-white);
    color: var(--clr-black);
    font-size: 1rem;
    line-height: 1.5;
}

main {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

/*** Base Elements of Main ****/

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
    text-align: center;
    margin: 0 0 4rem 0;
}

h3 {
    font-size: 1.5rem;
}

/**** About section ****/

.about_section {
    position: sticky;
    top: 0;
    background-color: var(--clr-primary-accent);
    color: var(--clr-white);
    height: 100vh;
}

.about_container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 2rem;
    margin: 2.5rem;
}

.portfolio_photo {
    border: 5px solid var(--clr-white);
    border-radius: 2rem;
    width: 200px;
    height: auto;
}

.social_links_list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0 1.5rem;
}

.stack_line {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
}

.skill {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-bg-accent);
    border: 1px solid var(--clr-white);
    border-radius: 1.5rem;
    padding: 0.5rem 1rem;
    margin: 0.3rem;
}

.skill img {
    width: 25px;
    height: 25px;
    margin: 0.1rem;
}

/**** Icons Styling ****/

.icons_bar {
    display: flex;
    justify-content: space-between;
}

.icon {
    color: var(--clr-white);
    margin: 1rem;
}

.icon:hover,
.icon:focus,
.icon:focus-visible {
    color: var(--clr-light-accent);
    cursor: pointer;
}

.theme_switch {
    background: none;
    border: none;
    padding: 0 1.5rem;
}

/**** Project section ****/

.project_container {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 600px));
    gap: 2rem;
    list-style: none;
    margin: 5rem;
    align-items: stretch;
    justify-content: center;
}

.project_box {
    border-radius: 2rem;
    background-color: var(--clr-bg-accent);
    max-width: 600px;
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%; 
    overflow: hidden;
}

.project_box:hover, 
.project_box:focus {
    background-color: var(--clr-light-accent);
    transform: scale(1.05);
    transition: all 0.3s 0.15s; /* property, duration, delay */
}

.project_box img {
    object-fit: cover;
    display: block;
    padding: 1rem;
    border-radius: 2rem;
    
    width: 100%;
    height: 250px; 
    object-fit: cover; 
}

.project_box h3, 
.project_box p {
    margin: 1.5rem;
}

.align_right {
    display: flex;
    justify-content: flex-end;
}

.cv_button {
    font-family: inherit;
    font-size: 0.8rem;
    background-color: var(--clr-white);
    color: inherit;
    border: 2px solid var(--clr-black);
    border-radius: 2rem;
    cursor: pointer;
    padding: 1rem;
    margin: 1.5rem;
}

.cv_button:hover, 
.cv_button:focus, 
.cv_button:focus-visible {
    background-color: var(--clr-primary-accent);
    color: var(--clr-white);
    border-color: var(--clr-light-accent);
} 

/****Dark Mode layout ****************************************/

body.dark_mode {
    background-color: var(--clr-black);
    color: var(--clr-white);
}

.dark_mode .about_section {
    background-color: var(--clr-dark-bg-accent);
    color: var(--clr-white);
}

.dark_mode h1 { 
    color: var(--clr-dark-accent);
}

.dark_mode .skill {
    background-color: var(--clr-bg-accent);
    border: 2px solid var(--clr-light-accent);
}

.dark_mode .project_box {
    background-color: var(--clr-dark-bg-accent);
}

.dark_mode .project_box:hover, 
.dark_mode .project_box:focus {
    background-color: var(--clr-dark-accent);
}

.dark_mode .icon {
    color: var(--clr-white); 
}

.dark_mode .icon:hover,
.dark_mode .icon:focus,
.dark_mode .icon:focus-visible {
    color: var(--clr-dark-accent);
}

.dark_mode .cv_button {
    background-color: var(--clr-dark-accent);
    color: inherit;
    border: 2px solid var(--clr-black);
}

.dark_mode .cv_button:hover {
    color: var(--clr-white);
    border-color: var(--clr-light-accent);
}

/****Mobile layout ****************************************/

@media (max-width: 1200px) {

    main {
        display: initial;
    }
    
    /**** About Section ****/
    
    .about_section {
        height: auto;
        position: relative;
    }

    .about_container {
        flex-direction: column;
        padding: 0 3rem;
    }
    
    .stack_line {
        margin: 2rem 0;
    }
    
    .skill {
        font-size: 0.8rem;
    }
    
    .skill img {
        width: 30px;
        height: 30px;
        margin: 0.1rem;
    }
    
    /**** Project Section ****/

    h2 {
        font-size: 2.5rem;
        margin: 2rem 0;
    }

    .align_right {
        justify-content: center;
    }

    .project_container {
        display: flex; 
        align-items: center;
        flex-direction: column;
        margin: 3rem;
    }

    
}

/****Big scale layout ****************************************/

@media (max-height: 800px) {

    /**** About Section ****/

    .portfolio_photo {
        width: auto;
        height: 35vh; 
        max-height: 200px;
    } 

    .about_section h1 {
        font-size: clamp(1.5rem, 5vh, 2rem); 
    }
    
    .about_section h3 {
        font-size: clamp(1rem, 5vh, 1.3rem); 
    } 
    
    .about_section p {
        font-size: 0.9rem;
    }
    
    .skill img {
        width: 20px;
        height: 20px;
    }
} 